.wrapper{
    text-align: center;
    padding-top: 50px;
    width: 500px;
    margin:0 auto;
}

/* 아이디 */
.input_id_pw{
    position: relative;
    width: 100%;
    height: 50pt;
    margin: 2pt;
    padding-left: 5pt;
    font-size:25pt;
}
/* 회원가입 및 아이디 비번 찾기 */
.button_style{
    position: relative;
    font-size: 1.5em;
    text-decoration: none;
    color: #000000;
}
/* 로그인버튼, 네이버 로그인 */
.login_button{
    position:relative;
    border: none;
    border-radius: 5px;
    color: #FFFEFE;
    font-size: 25pt;
    width: 100%;
    height: 50pt;
    text-align:center;
    margin:5pt;
}

.form-check-input{
    margin-left:16.0em;
    margin-top:0.6em;
    height:1.5em;
    width:1.5em;
}
/* 회원가입, 아이디 찾기, 자동로그인 */
#etc_function{
    position:relative;
    width: 100%;
    margin:auto;
}
/* 자동로그인 */
.checkbox_wrapper{
    position:relative;
    float:left;
    text-align:center;
}